.navbar-con {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.item-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

#logo{
    margin: 10px
}

.nav-item {
    
    margin: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
}

.navbar{
     width:70%;
     display:flex;
}

.authbar {
    width: 30%;
    display: flex;
    justify-content: end;
    margin: 0 40px 0 0;
}
